* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Violata: #52357B;
    --Azul-indigo: #5459AC;
    --Azul-Empoeirado: #648DB3;
    --verde-agua: #B2D8CE;
    --preto: black;
    --branco: white;
}