@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Violata: #52357B;
    --Azul-indigo: #5459AC;
    --Azul-Empoeirado: #648DB3;
    --verde-agua: #B2D8CE;
    --preto: black;
    --branco: white;
}

body {
    background-color: var(--Violata);
    font-family: "Inter", sans-serif;
    font-size: 30px;
}


.title {
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.title-select {
    margin-top: 8%;
    text-align: center;
}


.lista-musicas {
    display: flex;
    /* grid-template-columns: repeat(2, 300px);  */
    gap: 20px;                               
    justify-content: center;                
    list-style: none;
    padding: 40px 0;
    margin: 0 auto;
}


.musica {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--branco);
}

.musica img {
    width: 100%; 
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
}
